.AspectRatioBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: grid;
	grid:
		"grid" 100% 
		/ 100%;
}

.FlexBoxCentering {
	position: relative;
	grid-area: grid;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}